@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body{
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    display: block;
    margin: auto;
}

.container .title {
    text-align: center;
    margin-bottom: 2em;
}

#root {
    text-align: center;
}

#root .easy-pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#root .easy-pagination li{
    width: 70px;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
    padding: 8px 0;
    background-color: beige;
}

#root .easy-pagination span {
    user-select: none;
}

#root .easy-pagination li.active {
    color: red;
}

#root .easy-pagination span {
    margin-right: 1em;
}